<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yahtzee: Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Yahtzee</h1>
    <form action="/game" method="GET">
      <label for="username_input">Username:</label>
      <input type="text" id="username_input" name="username">
      <br><br>
      <label for="password_input">Password:</label>
      <input type="text" id="password_input" name="password">
      <br><br>
      <input type="submit" value="Submit" id="login_submit">
    </form>
    <footer>{% include 'partial/footer.html' %}</footer>
  </body>
</html>