{% include 'partial/header.html' %}
{% include 'partial/navbar.html' %}
<center>
<br>
<br>
<h1>{{username}} Games</h1>
<section id="feedback">{{feedback}}</section>
<ol id="games_list">
    {% for game in games_list %}
    <li><a href="http://localhost:3000/games/{{game}}/{{username}}">{{game}}</a> <a href="/games/delete/{{game}}/{{username}}">Delete</a></li>
    {% endfor %}
</ol>

<form action="/games" method="POST">
    <input type="text" id="game_name_input" name="game_name" placeholder="Game Name">
    <input type="submit" value="Create" id="create_submit">
    <input type="button" value="Join" id="join_submit">
    <input type="hidden" id="hidden_username" name="username" value={{username}}>
</form>
<br>
<br>
<h1>High Scores</h1>
<ol id="high_scores_list">
    {% for tup in high_scores_list %}
    <li>{{tup[0]}}: {{tup[1]}}</li>
    {% endfor %}
</ol>

{% include 'partial/footer.html' %}

<SCRIPT>
    document.getElementById("join_submit").addEventListener('click', joinGame);
    async function joinGame(event){
        
        const link = "http://127.0.0.1:8080/games/join";
       
        try {
            let username = (document.getElementById("hidden_username").value)
            let game_name = (document.getElementById("game_name_input").value)
            const response = await fetch(link, {
            method:"POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({username: document.getElementById("hidden_username").value, game_name: document.getElementById("game_name_input").value}),
            })

            const json = await response.json();
            document.getElementById("feedback").innerHTML=json["data"]

            let current_games_list = (document.getElementById("games_list").innerHTML)
            if (json["status"] != "error"){
                let new_game_entry = `<li><a href="http://localhost:3000/games/${game_name}/${username}">${game_name}</a> <a href="/games/delete/${game_name}/${username}">Delete</a></li>`
                document.getElementById("games_list").innerHTML = `${current_games_list} ${new_game_entry}`
            }

            console.log(json);
        } catch (error) {
            console.error(error.message);
        }
    }
</SCRIPT>
</center>
