{% include 'partial/header.html' %}
{% include 'partial/navbar.html' %}
<center>
<h1>{{username}} Games</h1>
<section id="feedback">{{feedback}}</section>
<ol id="games_list">
    {% for game in games_list %}
    <li><a href="/games/{{game}}/{{username}}">{{game}}</a> <a href="/games/delete/{{game}}/{{username}}">Delete</a></li>
    {% endfor %}
</ol>

<form action="/games" method="POST">
    <label for="game_name_input">Game name:</label>
    <input type="text" id="game_name_input" name="game_name">
    <br>
    <input type="submit" value="Create" id="create_submit">
    <input type="hidden" id="hidden_username" name="username" value={{username}}>
</form>
<form action="🆘🆘" method="GET">
    <input type="submit" value="Join" id="join_submit">
</form>
<h1>High Scores</h1>
<ol id="high_scores_list">
    {% for tup in high_scores_list %}
    <li>{{tup[0]}} : {{tup[1]}}</li>
    {% endfor %}
</ol>
{% include 'partial/footer.html' %}
</center>
