
@font-face {
    font-family: 'Revue';
    src: url('../font/Revue.eot');
    src: url('../font/Revue.eot?#iefix') format('embedded-opentype'),
        url('../font/Revue.woff2') format('woff2'),
        url('../font/Revue.woff') format('woff'),
        url('../font/Revue.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


h1{
    font-family: Revue;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f44343;
    color: white;
    font-family: "PT Serif", serif;
}