
@font-face {
    font-family: 'Revue';
    src: url('../font/Revue.eot');
    src: url('../font/Revue.eot?#iefix') format('embedded-opentype'),
        url('../font/Revue.woff2') format('woff2'),
        url('../font/Revue.woff') format('woff'),
        url('../font/Revue.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


h1{
    font-family: Revue;
    font-weight: 500;
    font-style: normal;
    color: #f44343;
}

body {
    background-color: #fff9ea;
    color: rgb(0, 0, 0);
    font-family: "PT Serif", serif;
    height:100%;
}

html{
    height: 100%;
}

#logo{
    font-family: Revue;
    font-weight: 500;
    font-style: normal;
    color: #f44343;
}

.reserved {
    border: 2px solid red;
    border-radius: 10px;    
}

.good {
    color: green;
}

.bad{
    color:#f44343;
}