<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" id="logo">Yahtzee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if current_route == '/' %}active{% endif %}">
        <a class="nav-link" href="/"><b>Home</b><span class="sr-only">(current)</span></a>
      </li>
      {% if logged_in == True %}
      <li class="nav-item {% if my_games == True %}active{% endif %}">
        <a class="nav-link" href="/games/{{username}}"><b>My Games</b></a>
      </li>
      {% endif %}
      
    </ul>

    {% if logged_in == True %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if cog_active == True %}active{% endif %}">
        <a class="nav-link" href="http://127.0.0.1:8080/users/{{username}}">
          <i class="fas fa-cog"></i> <!-- Font Awesome gear icon -->
        </a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>